html{
    background-color: rgb(17, 8, 27);
}

h1 {
    text-align: center;
    color: rgb(138, 107, 107);
}
a {
    color: rgba(137, 120, 120, 0.6);
}
p {
    text-size-adjust: 50px;
}
.text{
    text-align: center;
    color: rgb(75, 71, 172);
    margin-left: 25%;
    margin-right: 25%;
}
.inline{
display: inline-block;
}
.custom-card-bg{
    background-color: rgb(41, 3, 77);
}
.custom-card-bg1{
    background-color: rgb(132, 92, 163);
}
.custom-card-bg2{
    background-color: rgb(253, 239, 229);
}
.custom-card-bg3{
    background-color: rgb(215, 255, 224);
}
iframe{
    width: 75%;
    height: 800px;
  
 
}