html{
    background-color: rgb(17, 8, 27);
}

h1 {
    text-align: center;
    color: rgb(138, 107, 107);
}
a {
    color: rgba(137, 120, 120, 0.6);
}

.text{
    text-align: center;
    color: rgb(75, 71, 172);
    margin-left: 25%;
    margin-right: 25%;
}
.inline{
display: inline-block;
}

iframe{
    width: 75%;
    height: 800px;
  
 
}
.nav-link {
    color: rgba(98, 81, 255, 0.56) !important;
}
